<header class="header row">
    <div class="medium-4 columns">
        <div class="text-left">
            <img src="#" alt="logo" align="left">
            <div>web-energy</div>
            <div>прочная основа в тонкой сети</div>
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="text-center">
            <div>Продающие сайты под ключ</div>
            <div> Увеличение интернет продаж</div>
            <div>Работаем по РФ и СНГ</div>
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="text-left">
            <div>8 182 47 28 28</div>
            <a href="#" data-open="exampleModal1">Заказать звонок</a>
        </div>
    </div>
    <div class="reveal" id="exampleModal1" data-reveal>
        <div>К сожалению данная функция не доступна</div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</header>